<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/pico.min.css" />
    <link rel="stylesheet" href="/static/shared.css" />
</head>

<body class="container flexible-container" style="height: 100vh">
    <nav class="flexible-head" style="margin-bottom: 1rem">
        <ul>
            <li>
                <h4 style="margin-bottom: 0;">{{ folder_uppercase }}</h4>
            </li>
        </ul>
        <ul></ul>
    </nav>
    <main class="flexible-body">
        <p>
            <a href="/" role="button" class="small-button">Go Back</a>
        </p>
        <div class="media">
            <ul>
                {% for file in files %}
                <li>
                    <a href="/{{ folder }}/{{ file }}">
                        {{ file }}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6" width="20" height="20">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                        </svg>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </main>
    <div class="flexible-foot" style="text-align: center">
        <p style="margin-bottom: 10px">
            Developed by
            <a href="https://github.com/dhs-envirotech/timelapse" target="_blank">
                humanfriend22@dhs-envirotech
            </a>
        </p>
    </div>
</body>

</html>