/* Flexible Height */
.flexible-container {
    display: flex;
    flex-flow: column;
}

.flexible-head {
    flex: 0 1 auto;
}

.flexible-body {
    flex: 1 1 auto;
}

.flexible-foot {
    flex: 0 1 40px;
}